<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1}.%method:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="javax.persistence.upsert" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
